  <!--==================== SKILLS ====================-->
  <section class="skills section" id="skills">
    <h2 class="section__title">Tecnologías y habilidades</h2>
    <span class="section__subtitle">Tecnologías que utilizo día a día</span>
    <div class="skills__container container grid">
        <div>
            <!--==================== SKILLS 1 ====================-->
            <div class="skills__content skills__open">
                <div class="skills__header">
                    <i class="uil uil-swatchbook skills__icon"></i>
                    <div>
                        <h1 class="skills__title">Designer</h1>
                        <span class="skills__subtitle">Más de 10 años</span>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Photoshop</h3>
                            <span class="skills__number">90%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__photoshop"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Ilustrator</h3>
                            <span class="skills__number">60%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__ilustrator"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Premiere</h3>
                            <span class="skills__number">90%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__premiere"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">After Effect</h3>
                            <span class="skills__number">80%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__aftereffect"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Figma</h3>
                            <span class="skills__number">75%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__figma"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== SKILLS 2 ====================-->
            <div class="skills__content skills__close">
                <div class="skills__header">
                    <i class="uil uil-film skills__icon"></i>
                    <div>
                        <h1 class="skills__title">Realizador audiovisual</h1>
                        <span class="skills__subtitle">Más de 7 años</span>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Pre-producción</h3>
                            <span class="skills__number">80%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__preproduccion"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Cámara</h3>
                            <span class="skills__number">90%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__camara"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Sonido</h3>
                            <span class="skills__number">70%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__sonido"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Edición</h3>
                            <span class="skills__number">90%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__edicion"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Motion Graphics</h3>
                            <span class="skills__number">60%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__motiongraphics"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== SKILLS 3 ====================-->
            <div class="skills__content skills__close">
                <div class="skills__header">
                    <i class="uil uil-windows skills__icon"></i>
                    <div>
                        <h1 class="skills__title">Aplicaciones de Office</h1>
                        <span class="skills__subtitle">Más de 7 años</span>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Microsoft Word</h3>
                            <span class="skills__number">90%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__word"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Microsoft Excel</h3>
                            <span class="skills__number">70%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__excel"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Microsoft PowerPoint</h3>
                            <span class="skills__number">80%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__ppt"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">S.O. Windows 7/11</h3>
                            <span class="skills__number">70%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__windows"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== SKILLS 4 ====================-->
            <div class="skills__content skills__close">
                <div class="skills__header">
                    <i class="uil uil-wordpress-simple skills__icon"></i>
                    <div>
                        <h1 class="skills__title">WordPress developer SSR</h1>
                        <span class="skills__subtitle">Más de 3 años</span>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">WordPress</h3>
                            <span class="skills__number">80%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__wordpress"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">WooCommerce</h3>
                            <span class="skills__number">70%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__woocommerce"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Elementor Pro</h3>
                            <span class="skills__number">70%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__elementor"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Yoast SEO</h3>
                            <span class="skills__number">60%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__seo"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Filezilla</h3>
                            <span class="skills__number">90%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__filezilla"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">SSL certificate</h3>
                            <span class="skills__number">80%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__ssl"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== SKILLS 5 ====================-->
            <div class="skills__content skills__close">
                <div class="skills__header">
                    <i class="uil uil-brackets-curly skills__icon"></i>
                    <div>
                        <h1 class="skills__title">Frontend developer</h1>
                        <span class="skills__subtitle">Más de 2 años</span>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">HTML</h3>
                            <span class="skills__number">80%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__html"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">CSS</h3>
                            <span class="skills__number">70%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__css"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Bootstrap</h3>
                            <span class="skills__number">70%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__bootstrap"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">JavaScript & TypeScript</h3>
                            <span class="skills__number">50%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__js-ts"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Angular</h3>
                            <span class="skills__number">60%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__angular"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== SKILLS 6 ====================-->
            <div class="skills__content skills__close">
                <div class="skills__header">
                    <i class="uil uil-server-network-alt skills__icon"></i>
                    <div>
                        <h1 class="skills__title">Backend developer</h1>
                        <span class="skills__subtitle">Más de 1 año</span>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Git & Github</h3>
                            <span class="skills__number">70%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__github"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">MySQL</h3>
                            <span class="skills__number">70%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__mysql"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Java</h3>
                            <span class="skills__number">50%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__java"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Spring Boot</h3>
                            <span class="skills__number">50%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__springboot"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== SKILLS 7 ====================-->
            <div class="skills__content skills__close">
                <div class="skills__header">
                    <i class="uil uil-arrow skills__icon"></i>
                    <div>
                        <h1 class="skills__title">Otras tecnologías aprendidas</h1>
                        <span class="skills__subtitle">Más de 6 meses</span>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>

                <div class="skills__list grid">
                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Python</h3>
                            <span class="skills__number">30%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__python"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">C++</h3>
                            <span class="skills__number">30%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__cplus"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Haskell</h3>
                            <span class="skills__number">30%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__haskell"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Prolog</h3>
                            <span class="skills__number">30%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__prolog"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <h3 class="skills__name">Wollok</h3>
                            <span class="skills__number">30%</span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__wollok"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
